@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

ul {padding: 0; margin: 0;}
li{list-style:none;}
img{max-width:100%;}
body{scroll-behavior: smooth;}
body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #000000;
	/*padding-top: 100px;*/
}
/*.react-multiple-carousel__arrow--left{left:-100px}

<<<<<<< HEAD
.inpt {
	border-width: 1 orange;
	background-color: whitesmoke;
}

=======
.react-multiple-carousel__arrow--right{right:-100px}*/


.center-text{
	text-align: center;
}
/*>>>>>>> refs/remotes/origin/master*/
.btn {
	border: none;
	padding: 7px 25px;
}
.btn-primary {
	background: #fb6500;
}
.btn-warning {
	background: #febb22;
}

.btn-primary:hover {
	background: #fb6500;
}

.section-title-1 {
	text-align: center;
	margin-bottom: 50px;
}
.section-title-1-divider {
	width: 100px;
	height: 3px;
	margin: 10px auto 0;
	background: #ffbb22;
}

.header {
	padding: 7px 0;
	background: #fff;
	box-shadow: 0 0 10px #ddd;
}
.inner_header{border-bottom: 6px solid #fcc201;}
.donate-btn .btn {
	font-size: 16px;
	font-weight: bold;
	padding: 14px 40px;
	border-radius: 8px;
}

.banner-sec {
	background-image: url("../img/Food_for_life.jpg");
	background-size: cover;
}

.banner-info {
	max-width: 1200px;
	margin: auto;
	/*margin-top: 100px;*/
	text-align: right;
	padding: 80px 0 220px;
}


.banner-info-inner {
	background: rgba(255,255,255, 0.8);
	padding: 20px;
	display: inline-block;
	max-width: 370px;
}
.banner-info-inner h2 {
    font-size: 32px;
    font-weight: 700;
	text-align: left;
}



.our-achievements {
	padding: 50px 0;
	background: #e7ebf4;
}
.our-achievements-inner h2 {
    font-size: 44px;
    font-weight: bold;
    margin: 10px 0 30px 20px;
}
.our-achievement-item {
    background: #403a60;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 0px 0px 20px;
}
.our-achievement-item h4 {
    color: #ffbb22;
	font-size: 30px;
	font-weight: 700;
}

.our-achievement-item p {
	font-weight: 300;
	font-size: 27px;
}
.our-achievement-item-info * {
    margin: 0;
    line-height: 1.1;
}





.package-wrap {
	background: #fff;
	padding: 50px;
	border-radius: 10px;
	height: calc(100% - 30px);
}
.package-wrap .nav {
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
}
.package-wrap .nav-pills .nav-link {
    border-radius: 0;
    color: #a7a7a7;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
}
.package-wrap .nav-pills .nav-link.active, .package-wrap .nav-pills .show>.nav-link {
    height: 100%;
    color: #000;
    background-color: #ffbb22;
}
.package-wrap .list-group-horizontal .list-group-item {
    width: 100%;	
    border: none;
    background: #ececee;
	padding: 10px;
	font-size: 18px;
}
.package-wrap .list-group-horizontal .list-group-item:first-child {
	max-width: 100px;
	background: #febb22;
	border-radius: 0;
}
.package-wrap .list-group-horizontal .list-group-item:last-child {
	max-width: 50px;
	border-radius: 0;
}
.package-wrap .custom-control input {
    position: relative;
}

.package-wrap .custom-control-label:after, .package-wrap .custom-control-label:before {
    left: -16px;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: none;
    top: -1px;
}

.package-wrap .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.package-wrap .custom-control-label::after {
	background-size: 75%;
}

.package-inner .custom-control {
    padding: 0;
}
.package-wrap .list-group-horizontal .list-group-item:first-child input {
    width: 52px;
    border: none;
    height: 24px;
    margin-left: 2px;
    padding: 0 5px;
}
.package-wrap .list-group-horizontal .list-group-item span {
    font-weight: bold;
}




.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #9f085a;
    background-color: #9f085a;
}

.package-wrap .list-group-horizontal .list-group-item:first-child.active {
	background: #9f085a;
}
.package-inner .tab-content ul {
    margin: 40px 0;
}

.package-proceed {
    text-align: right;
}

.package-proceed input {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 40px;
}

.about-sec {
    padding: 0px 0;
}
.about-sec-info {
	margin-left: 20px;
	margin-bottom: 0px;
}
.about-sec-info h3 {
    font-weight: bold;
}
.about-sec .about-video {
    text-align:center;
}


.our-value {
	/*padding: 10px 20px 10px 20px;*/
	background: #e7ebf4;
}
.our-value container{

	/*padding-bottom: 40px;*/
}
.our-value-it h2{
	font-weight: bolder;
	font-size: 30px;
	font-family: serif;
	font-style: oblique;
	/* background-color: #9f085a; */
}
.our-value-item h3 {
    font-size: 24px;
    margin: 0 0 20px;
    font-weight: bold;
}
.our-value-items{
	margin-left: 20px;
	/*margin-bottom: 20px;	*/
}
/*.our-value-item{
	padding-left:-40px !important;
}*/
.people-support-item-inner h5 {
    position: relative;
    font-size: 18px;
}



.people-support {
    padding: 50px 0;
}
a {
    color: #9f085a;
}
.people-support-item-inner img {
    margin-bottom: 30px;
    transform: scale(1);
    transition: all 0.5s;
}
.people-support-item-inner {
    border: 2px solid #e7ecf1;
    padding: 20px;
    height: 100%;
    transition: all 0.5s;
}
.people-support-item-inner:hover {
    box-shadow: 0 0 10px #ddd;
}
.people-support-item-inner:hover img {
    transform: scale(1.05);
}
.people-support-item-inner h5:after {
    content: "";
    display: block;
    width: 130px;
    height: 3px;
    background: #ffbb22;
    margin: 2px 0;
}
.people-support-item-inner h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 10px;
}
.people-support-item-inner .btn-row {
    font-weight: bold;
}

.footer {
	background: #ffbb22;
	padding: 100px 0;
	text-align: center;
}
.footer-info {
	padding: 0 50px;
}
.footer-info {
    font-size: 18px;
}
.footer-menu {
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
}
.footer-menu ul li {
    display: inline-block;
}
.footer-menu ul li a {
	color: #666;
	padding: 0 20px;
}






.thank-you-inner {
	max-width: 700px;
	margin: auto;
	font-size: 24px;
}
.thank-you {
    padding: 100px 0;
    background: #f8f8f8;
}
.thank-you-info {
    margin-top: 30px;
}
.thank-you-inner img {
    max-width: 280px;
}



@media screen and (min-width: 1500px) {
	.container {
		max-width: 1400px
	}
}
@media screen and (min-width: 1200px) {
	.row {
		margin: 0 -50px;
	}
	[class*="col-"] {
		padding: 0 50px;
	}
}





.modal-story-body-txt h3 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
.modal-story-body-txt p {
	font-size: 16px;
	color: #767676;
}
.modal-story-body-img img {
	width: 100%;
}
.modal-story-body [class*="col-"] {
	padding: 0 20px;
}
.modal-story-body .row {
	margin: 0 -20px;
}
.story_modal .modal-header {
	padding: 0;
	border: 0;
	position: absolute;
	right: 40px;
	top: 30px;
}
.story_modal .modal-body {
	padding: 70px 50px;
}
.story_modal .close {
	font-size: 70px;
	font-weight: lighter;
	line-height: 42px;
	padding: 0;z-index: 1;
}
.share_story {
	display: flex;
}
.share_story ul {
	display: flex;
	margin-left: 20px;
}
.share_story ul a{text-decoration: none !important;}
.share_story ul i {
	width: 30px;
	height: 30px;
	background: #f0f1f2;
	margin: 0 5px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #575961;
}
.share_story span {
	font-weight: 600;
	font-size: 16px;
}
.share_story {
	margin-top: 20px;
}
.modal-story-body-txt h4 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}
.about-video iframe{max-width: 1100px;height: 600px;}
.modal-backdrop.show {
	opacity: .85;
}
.story_modal .modal-dialog {
	max-width: 90%;
}
.modal-story-body-txt{flex-direction: column;height: 100%;}
.donation_form {
	padding: 40px 0 70px;
}
.donation_form_heading h3 {
	font-size: 30px;
	margin-bottom: 30px;
	border-bottom: 3px solid #fcc201;
	padding-bottom: 15px;
}
.donation_form label {
	font-size: 17px;
}
.donation_form .form-control {
	height: 50px;
	font-size: 17px;
	color: #393737;
}
.donation_form [class*="col-"] {
	padding: 0 15px;
}
.donation_form .row {
	/*margin: 0 -15px;*/
		margin: 0 0;
}
.donation_form sup {
	color: #fb6500;
}
.declare_checkbox .custom-control-label::before, .declare_checkbox .custom-control-label::after {
	top: .55rem;
}
.declare_checkbox .custom-control-input:checked ~ .custom-control-label::before {
	border-color: #fb6500;
	background-color: #fb6500;
}
.payment_method {
	padding-left: 30px;
}
.payment_method .custom_check {
    position: relative;
    height: 100%;
    border: 2px solid #fb6500;
    padding: 30px;
    border-radius: 10px;
    display: block;
    color: #fb6500;
    margin-bottom: 10px;text-align: center;text-align: center;

font-size: 17px;
}
.payment_method .custom_check.active {
	color: #fff;
    background: #fb6500;
}

.payment_method .custom_check input {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	opacity: 0;
}

@media screen and (max-width: 767px) {
    .about-video iframe {
        max-width: 1100px;
        height: 310px;
        width: 100%;
    }
}



.payment-button{
    position: relative;
}

.payment-button .pay-button{
    margin-top: 15px;
    background: #f7f7f7;
    color: #FB6500;
    border: 1px solid;
    padding: 15px;
    width: 345px;
}


.payment-button .pay-button:hover{
    color: rgb(255, 255, 255);
    background: #FB6500;
}


.payment-button .pay-button.current {
    color: rgb(255, 255, 255);
    background: #FB6500;
}
.footer-filler{
	height:700px;
	position: relative;
	pointer-events: none;
	background-color: transparent;

	z-index:-100;
}
.footer{
height:100%;
width:100%;
position: fixed;
pointer-events: auto;
top:0px;
z-index:-1;
/*padding:;*/
background-color: red;
}
.container{
	pointer-events: auto;
}
.home{
	pointer-events: all;
	z-index:1;
}
.no-pointer-events{
	/*pointer-events: auto;*/
	pointer-events: none;
}
#root{
	pointer-events: none;
	/*pointer-events: auto;*/
}
/*tyle={{height: 478,zIndex:-1,position: "fixed",left: 0, top: 0}}*/